header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    border-radius: 6px;
}


nav{
    padding: auto;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
}
a{
    margin-right: 20px;
    position: relative;
    
}

a:after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 20px #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


a:hover:after{
    width: 100%;
}

