<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Shipping Information</h2>
      <form [formGroup]="checkoutForm" (ngSubmit)="confirmOrder()">
        
        <div class="form-group mb-3">
          <label for="address">Street address</label>
          <input type="text" id="address" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': f['address'].touched && f['address'].invalid }">
          <div *ngIf="f['address'].touched && f['address'].invalid" class="invalid-feedback">
            <div *ngIf="f['address'].errors?.['required']">Street address is required</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': f['city'].touched && f['city'].invalid }">
          <div *ngIf="f['city'].touched && f['city'].invalid" class="invalid-feedback">
            <div *ngIf="f['city'].errors?.['required']">City is required</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': f['state'].touched && f['state'].invalid }">
          <div *ngIf="f['state'].touched && f['state'].invalid" class="invalid-feedback">
            <div *ngIf="f['state'].errors?.['required']">State is required</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="zip">Zip</label>
          <input type="text" id="zip" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': f['zip'].touched && f['zip'].invalid }">
          <div *ngIf="f['zip'].touched && f['zip'].invalid" class="invalid-feedback">
            <div *ngIf="f['zip'].errors?.['required']">Zip is required</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': f['country'].touched && f['country'].invalid }">
          <div *ngIf="f['country'].touched && f['country'].invalid" class="invalid-feedback">
            <div *ngIf="f['country'].errors?.['required']">Country is required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Order Summary</h2>
      <div *ngFor="let item of cartItems" class="mb-3">
        <div class="d-flex justify-content-between">
          <span>{{ item.product.productName }}</span>
          <span>${{ item.product.productPrice }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Quantity:</span>
          <span>{{ item.quantity }}</span>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <strong>Total:</strong>
        <strong>${{ totalPrice }}</strong>
      </div>
    </div>
  </div>
</div>
