<p class="text-green-500">home works!</p>
{{title|uppercase}}<br/>
{{title|lowercase}}<br/>
<h1>
    Date: {{dateToday}}<br/>
    Date Pipe: {{dateToday|date|uppercase}}<br/>
    Date Pipe: {{dateToday|date:'short'|lowercase}}<br/>
    Name: {{name|uppercase}}<br/>
    Name: {{name|slice:6}}
</h1>&nbsp;
<div class="size">
    <label for="shirtSizeInput">Enter Size</label>
    <input id="shirtSizeInput" type="number" [(ngModel)] = "size">
</div>
<div>
    <p>Your size is: {{size | shirtSize}}</p>
</div>