.container{
    color: white;
    font-weight: bolder;
    font-size: 700%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
a{
    font-weight: bolder;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 15%;
}