body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

#quiz {
    margin-top: 50px;
}

button {
    margin: 10px;
    background-color: #7949ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
.next {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
.next:hover{
    color: #fff;
}