
<div class="main">
    <form name="form" (ngSubmit)="onSubmit()" [formGroup]="form">
        <label for="fullname">Fullname:</label>
        <input placeholder="Enter your Fullname" type="text" id="fullname" name="fullname" formControlName="fullname" />
        <div class="err" *ngIf="form.controls['fullname'].invalid  && (form.controls['fullname'].touched || form.controls['fullname'].dirty || isFormSubmitted)">
            <span *ngIf="form.controls['fullname'].errors?.['required']">This is required</span>
        </div>

        <label for="email">Email:</label>
        <input placeholder="Enter Email" type="email" id="email" name="email" formControlName="email"/>
        <div class="err" *ngIf="form.controls['email'].invalid && (form.controls['email'].touched || form.controls['email'].dirty || isFormSubmitted)">
            <span *ngIf="form.controls['email'].errors?.['required']">Email is Required</span>
            <span *ngIf="form.controls['email'].errors?.['email']">Email is invalid</span>
        </div>

        <label for="password" >Password:</label>
        <input placeholder="Enter Password" [type]="hide ? 'password' : 'text'" id="password" name="password" formControlName="password"/>
        <div class="err" *ngIf="form.controls['password'].invalid && (form.controls['password'].touched || form.controls['password'].dirty || isFormSubmitted)">
            <span *ngIf="form.controls['password'].errors?.['required']">Password is required</span>
            <span *ngIf="form.controls['password'].errors?.['minlength']">Password must be minimum 8 characters</span>
        </div>
        <button type="button" (click)="hide = !hide">{{hide ? 'Show' : 'Hide'}} Password</button>


        <label for="mobile">Contact:</label>
        <input placeholder="Enter Phone Number" type="tel" id="mobile" name="mobile" formControlName="contact"/>
        <div class="err" *ngIf="form.controls['contact'].invalid && (form.controls['contact'].touched || form.controls['contact'].dirty || isFormSubmitted)">
            <span *ngIf="form.controls['contact'].errors?.['required']">Contact is required</span>
            <span *ngIf="form.controls['contact'].errors?.['maxlength']">Invalid Contact</span>
            <span *ngIf="form.controls['contact'].errors?.['minlength']">Invalid Contact</span>
        </div>


        <button type="submit" >Submit</button>
    </form>
</div>