
<div class="container">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="form.username" #username="ngModel" [ngClass]="{'is-invalid': f.submitted && username.errors}"/>
      @if(f.submitted && username.errors){
        <div class="invalid-feedback">
          @if(username.errors['required']){
            <div class="err">Username Required</div>
          }
        </div>
      }
    
      <label for="password"><b>Password</b></label>
      <input [type]="hide ? 'password' : 'text'" id="password" [(ngModel)]="form.password" name="password" placeholder="Enter Password"
        #password="ngModel" [ngClass]="{'is-invalid': f.submitted && password.errors}" required
      />
      @if (f.submitted && password.errors){
        <div class="invalid-feedback">
            @if(password.errors['required']){
                <div class="err">Password is required</div>
            }
        </div>
    }

      <button type="button" (click)="hide = !hide">{{hide ? 'Show' : 'Hide'}} Password</button>
      <button id="submit" type="submit">Login</button>

      <p>Don't have an account?</p><a href="register">Register</a>
    </form>
  </div>